<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>F:\WebDemo\webpack</publishUrl>
    <jsPublishUrl>F:\WebDemo\webpack\Content\Scripts\build</jsPublishUrl>
    <!--这里务必设为false-->
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <!--定义需要copy到发布目录的文件
    定义发布前需要先删除的文件夹-->
    <WebFiles Include="$(ProjectDir)\Content\Scripts\build\*.*" />
    <OutputFiles Include="$(publishUrl)\**\*.*" />
  </ItemGroup>
  <!--先删除之前老的发布文件-->
  <Target Name="RemoveDirectories" AfterTargets="AfterBuild">
    <Delete Files="@(OutputFiles)" />
    <RemoveDir Directories="$(publishUrl)" />
  </Target>
  <!--将带hashchunk的压缩过的js文件copy到发布目录-->
  <Target Name="moveChunkhashJs" AfterTargets="RemoveDirectories">
    <MakeDir Directories="$(jsPublishUrl)" Condition="!Exists('$(jsPublishUrl)')" />
    <Copy SourceFiles="@(WebFiles)" DestinationFolder="$(jsPublishUrl)">
    </Copy>
  </Target>
</Project>